.login-form {
  margin-left: 14rem;
  width: 45vw;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.login-form .form-title {
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "montserrat", sans-serif;
  color: #000;
}
.login-form .form-control {
  margin-top: .6rem;
  border: 1px solid #e0e0e0;
  font-size: 1.2rem;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0;
}

.login-form .form-control:focus {
  box-shadow: none;
  border: 1.5px solid var(--primary-color);
}

.form-control::placeholder {
  font-size: 0.875rem;
  font-family: "poppins", sans-serif;
}

.form-check {
  margin-top: 0.7rem;
  color: #7e7e7e;
  font-size: 15px;
  font-family: "lato", sans-serif;
}

.form-check a {
  color: var(--primary-color);
}

.login-form .btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  color: #fff;
  font-family: "lato", sans-serif;
}

.login-img {
  max-height: 27vh;
  object-fit: cover;
}

.form-card-login {
  background-color: rgba(255, 255, 255);
  padding: 4rem;
  border-radius: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 55vw;
}

.form-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .4rem;
  margin-top: 8px;
}


@media (max-width: 1160px) {
  .login-form {
    width: 70vw;
    margin-left: 3rem;
  }
}

@media (max-width: 768px) {
  .form-card-login {
    max-width: 80vw;
  }
  .form-check {
    margin-top: 0.8rem;
  }
  .login-page-right {
    display: none;
  }
  .login-form {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }

  .login-form * {
    text-align: center;
    font-size: 15px;
  }

  .login-page-left {
    width: 100vw;
  }
}

@media (max-width: 571px) {
  .login-form .form-end {
    flex-direction: column;
  }
  .login-form .form-end .btn{
    align-self: stretch;
  }


  .login-form {
    width: 90vw;
  }
}
