.navbar-brand-text {
  font-size: 2.2rem;
  font-weight: 650;
  font-family: "poppins", sans-serif;
  color: rgba(33, 36, 32, 0.8);
}

@media (max-width: 768px) {
  .navbar-brand {
    justify-content: center;
    margin-right: 5px;
  }
}
