.register-form {
  max-width: 45vw;
}

@media (max-width: 768px) {
  
  .register-page-right {
    display: none;
  }

  .register-page-left {
    width: 100vw;
  }

  .register-form {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  .register-form * {
    text-align: center;
    font-size: 15px;
  }
}

.register-form .form-title {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "poppins", sans-serif;
  color: #000;
}
.register-form .form-control {
  margin-bottom: 1.5rem;
  border: 1px solid #e0e0e0;
  font-size: 1.2rem;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 0;
}
.register-form .form-group {
  position: relative;
}

.register-form .form-control:focus {
  /* box-shadow: 0 0 0 .18rem var(--primary-color); */
  box-shadow: none;
  border: 1.5px solid var(--primary-color);
  /* opacity: ; */
}

.form-control::placeholder {
  font-size: 0.875rem;
  font-family: "poppins", sans-serif;
}

.form-check {
  margin-top: 1.5rem;
  color: #7e7e7e;
  font-size: 15px;
  font-family: "lato", sans-serif;
}

.form-check a {
  color: var(--primary-color);
}

.register-form .btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  color: #fff;
  margin-top: 1.5rem;
  font-family: "lato", sans-serif;
}
